<% content_for :head_title do %>
    <% "#{@song.title} #{I18n.t "title_page_song"}" %> 
<% end %>
<% content_for :head_description do %>
    <% "#{I18n.t "description_page_start_artist"}#{@song.title} - #{@song.artist.name}"%> 
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>

<br>
<br>
<br>
<br>
  <b>Lyric:</b>
  <%= sanitize "<div style=\"margin-left:500px;background-color:red\"> adf </div><br> <br>" %>
  <%= sanitize @song.lyric %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist_id %>
</p>



<%# link_to 'Edit', edit_song_path(@song) %> |
<%# link_to 'Back', songs_path %>
