<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= yield :head_title %></title>
    <meta name="description" content="<%= yield :head_description %>">
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= csrf_meta_tag %>
    <%= javascript_tag "google.load('search', '1');" %>


</head>
<body>


<div class="header_container">
    <div class="header">
        <div>
            <div id="logo">
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            </div>
        </div>
    </div>


<div class="header_line">
    <ul>
      <li><%= I18n.t "artist_alphabet" %></h2>
      </li>
      <% alphabet = %{ a b c d e f g h i j k l m n o p q r s t u v w x y z}.split %>
      <% alphabet.each_index { |index|  %>
        <li>  
            <%= link_to alphabet[index].capitalize, alphabet_path(:id => index + 1) %>
        </li>
      <% } %>
        <li>  
            <%= link_to "0-9", alphabet_path(:id => nil) %>
        </li>
    </ul>
</div>

</div>
<div class="container_service">
    <div class="container_service_border_left"></div>
    <div class="service" id="service" > 
        <%= yield %>
    </div>
    <div class="container_service_border_right"></div>
</div>

</body>
</html>
