<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Probando</title>
    <%# stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
</head>
<body>


<div class="header_container">
    <div class="header">
        <div>
            <div id="logo">
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            </div>
        </div>
    </div>
</div>
<div class="header_line">
    <ul>
        <li>  
            <%= link_to "Blog", root_path %>
        </li>
    </ul>
    <ul>
        <li>  
            <%= link_to "Resume", root_path%>
        </li>
    </ul>
    <ul>
        <li>  
            <%= link_to "Projects", root_path%>
        </li>
    </ul>
    <ul>
        <li>  
            <%= link_to "Targets", root_path%>
        </li>
    </ul>
    <ul>
        <li>  
            <%= link_to "Contact", root_path%>
        </li>
    </ul>
</div>
<div class="container_service">
 <div class="container_service_border_left"   ></div>
    <div class="service" > 
        <%= yield %>
    </div>
    <div class="container_service_border_right"   ></div>

    </div>

</body>
</html>
